/* Basic styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


body {
    background-color:#FFFFFF
}


.navbar {
    background-color: #DEF6D8; 
    display: flex;
    align-items: center;
    padding: 0 2rem;
    height: 110px;
}

/* logo */

.logo-and-title {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    color:#91C789
}

.Strawberry{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 0.5rem; 
    font-size: 24px; 
    color: white;
}

/*  links til  nav bar */

.navlinks{
    color:#333;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    border-radius: 5px;
}

.navlinks a {
    color: grey;         
    text-decoration: none;  
    margin-right: 20px;
    margin-left: 80px;
}



.container {
    max-width: 1200px;
    margin: 20px auto; 
    padding: 0 20px;
}

.title {
    color:black;
    margin: 20px 0; 
}

/* Food inspector desgin */

#mealCreatorContainer {
    width: 80%;
    margin: 30px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#foodInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1em;
}

.food-details-container {
    background-color: #e9ffe9;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 10px #ccc;
}

.food-details-container h3 {
    flex-basis: 100%;
    color: #333;
}

.food-details-container p {
    background: #f0f0f0;
    padding: 10px;
    margin: 5px 0;
    width: 25%;
    box-shadow: inset 0 0 5px #ddd;
}

