.remove-button{
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}



.labelAT {
    display: flex;
    font-size: 16px;
    color: #333;
    margin-top: 20px;
    margin-bottom: 8px;
    display: block;
    justify-content: center;
    
}

input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input::placeholder {
    color: #888;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 100%;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

h2 {
    color: #333;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 8px;
    border-bottom: 1px solid #eee;
}

ul li:last-child {
    border-bottom: none;
}
