@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body{
   font-family: 'Nunito', sans-serif;
   background-color: whitesmoke;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

#hjem {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px 2%;
   background-color: #DEF6D8;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 100;
  }
 
.navbar {
   display: flex;
   gap: 3em;

}

  .logo {
   color: #91c789;
   font-size: 30px;
   font-weight: 700;
   text-decoration: none;
   margin-top: 5px;
   padding-left: 40px;
}


.navbar a {
   text-decoration: none;
   color: #000;
   font-size: 20px;
   font-weight: 700;
   padding: 8px;
}

nav a:hover {
   color: #76b66c;
   text-shadow: 0px 0px 1px darkgreen;
}

#logoutButton {
   background-color: #91c789;
   color: white;
   border: none;
   padding: 10px 20px;
   cursor: pointer;
   font-weight: 700;
}

#logoutButton:hover {
   background-color: #76b66c;
}


.header-row {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 5px;
   padding-left: 5px;
   padding-right: 5
}


#daily{
   width: 70em;
   margin: auto;
   padding: 20px;
   border: 2px solid #99d9de;
   border-radius: 10px;
   position: relative;
   top: 150px;
   display: flex;
   justify-content: space-evenly;
   flex-direction: column;
   align-items: center;
  
}
.header-row {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 5px;
   padding-left: 5px;
   padding-right: 5

}
/*Style for all button in html*/
button{
   padding: 12px 24px;
   border: none;
   border-radius: 15px;
   transition: box-shadow 0.3s ease, transform 0.2s ease;
   font-size: 16px;
   color: white;
   cursor: pointer;
   text-align: center;
   display: inline-block;
   box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.button-row {
   display: flex;
   gap: 10px;
}

button:hover{
   box-shadow: 0 4px 8px rgba(0,0,0,0.15);
   transform: translateY(-2px);
   text-decoration: none;
}

#toggleView {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 10px 20px;
   border: none;
   border-radius: 15px;
   color: white;
   font-size: 16px;
   cursor: pointer;
   transition: background-color 0.3s, opacity 0.3s; 
   gap: 10px;
}

#toggleView:hover {
   opacity: 0.8; 
}

.material-symbols-outlined {
   font-size: 24px;
   vertical-align: middle;
}


.hjem {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 2%;
   background-color: #DEF6D8;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 100;
}

.logo {
   color: #91c789;
   font-size: 30px;
   font-weight: 700;
   text-decoration: none;
}

.navbar {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 60px; /* Adjusts the gap between the links */
}

.navbar a {
   text-decoration: none;
   color: #000;
   font-size: 20px;
   font-weight: 700;
   transition: color 0.3s ease;
}

.navbar a:hover {
   color: #76b66c;
   text-shadow: 0px 0px 1px darkgreen;
}

#logoutButton {
   background-color: #91c789;
   color: white;
   border: none;
   padding: 10px 20px;
   cursor: pointer;
   font-weight: 700;
}

#logoutButton:hover {
   background-color: #76b66c;
}




/** Table Styling 24**/

#mealDetailsTable24 {
   width: 60em;
   border-collapse: collapse;
}


#mealDetailsTable24 thead {
   border: none;
}


#mealDetailsTable24 th, #mealDetailsTable24 td {
   text-align: center;
   padding: 10px;
   border: 2px solid #569bd5;

}


#mealDetailsTable24 th {
   border: none;
   background-color: transparent;
   color: #333;
}


#mealDetailsTable24 tbody tr:nth-child(odd) {
   background-color: #99d9de;

   color: #333;
}


#mealDetailsTable24 tbody tr:nth-child(even) {
   background-color: #b8e7eb;
   color: #000000;
}

/** Table Styling Daily**/

#mealDetailsTableDaily {
   width: 60em;
   border-collapse: collapse;
}


#mealDetailsTableDaily thead {
   border: none;
}


#mealDetailsTableDaily th, #mealDetailsTableDaily td {
   text-align: center;
   padding: 10px;
   border: 2px solid #DEF6D8;
}


#mealDetailsTableDaily th {
   border: none;
   background-color: transparent;
   color: #000000;
}


#mealDetailsTableDaily tbody tr:nth-child(odd) {
   background-color: #DEF6D8;
   color: #000000;
}


#mealDetailsTableDaily tbody tr:nth-child(even) {
   background-color: #f2fff5;
   color: #000000;
}
