/* Importing the specified font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

/* Base styles for the entire page */
body{
    font-family: 'Nunito', sans-serif;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Styles for the header/navbar */
.hjem {
    display: flex;
    justify-content: center;
    padding: 20px 2%;
    background-color: #def6d8;
    background-image: url('Images/svg.png/');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    right: 0; 
    z-index: 100;
}

.logo {
    position: absolute; 
    left: 40px; 
    color: #91c789;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    order: 1;
}

.navbar a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 700;
    padding: 0 60px; /* Provides space between the links */
    transition: all 0.3s ease;
    
}


nav a:hover {
    color: #76b66c;
    text-shadow: darkgreen   0px 0px 1px;
}

.navbar-h a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 700;
    padding: 24px;
}


.header-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    padding-left: 5px;
    padding-right: 5
}

.daily-report-container {
    margin-top: 100px; /* Adjust this value as needed */
    padding: 20px;
    text-align: center;
    box-sizing: border-box; /* Ensures padding does not add to the width */
    display: flex;
    flex-direction: column; /* Organizes child elements vertically */
    justify-content: center; /* Centers content vertically in the container */
}

.daily-report-container h1 {
    color: #333;
    margin-bottom: 20px;
}

#mealDetailsTable {
    width: 100%;
    border-collapse: collapse;
}

#mealDetailsTable thead {
    background-color: #76b66c; 
    color: black;
}

#mealDetailsTable th, #mealDetailsTable td {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ddd; 
}

#mealDetailsTable tbody tr {
    background-color: #76b66c; 
    color: black;
    border-radius: 5px; 
    margin-bottom: 10px;
}

#mealDetailsTable tbody tr:nth-child(odd) {
    background-color: #a0c39b94; 
}

#mealDetailsTable tbody tr:last-child {
    font-weight: bold;
    border-bottom: 2px solid #a0c39b94;
}

.header-item {
    text-align: center;
    font-weight: bold;
    color: #333;
}