        /* Importing the specified font from Google Fonts */
        @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

        /* Base styles for the entire page */
        body {
            font-family: 'Nunito', sans-serif;
            background-color: whitesmoke;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .hjem {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 2%;
            background-color: #DEF6D8;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 100;
        }

        .logo {
            color: #91c789;
            font-size: 30px;
            font-weight: 700;
            text-decoration: none;
            margin-top: 5px;
            padding-left: 40px;
        }

        #logoutButton {
            background-color: #e3342f;
            cursor: pointer;
            color: white;
            padding: 8px 16px;
            border: none;
            border-radius: 5px;
        }

        .navbar-h {
            display: flex;
            gap: 30px;
        }

        .navbar a {
            text-decoration: none;
            color: #000;
            font-size: 20px;
            font-weight: 700;
            padding: 8px;
        }

        nav a:hover {
            color: #76b66c;
            text-shadow: 0px 0px 1px darkgreen;
        }

        button{
         padding: 12px 24px;
         border: none;
         border-radius: 15px;
         transition: box-shadow 0.3s ease, transform 0.2s ease;
         font-size: 16px;
         color: white;
         cursor: pointer;
         text-align: center;
         display: inline-block;
         box-shadow: 0 2px 4px rgba(0,0,0,0.1);
     }

.header-row {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 5px;
   padding-left: 5px;
   padding-right: 5
}


#daily{
   width: 60em;
   margin: auto;
   padding: 20px;
   border: 2px solid #99d9de;
   border-radius: 10px;
   position: relative;
   top: 150px;
   display: flex;
   justify-content: space-evenly;
   flex-direction: column;
   align-items: center;
}






h1 {
   color: #333;
   margin-bottom: 20px;
}


#mealDetailsTable {
   width: 100%;
   border-collapse: collapse;
}


#mealDetailsTable thead {
   background-color: #76b66c;
   color: black;
}


#mealDetailsTable th, #mealDetailsTable td {
   text-align: center;
   padding: 10px;
   border-bottom: 1px solid #ddd;
}


#mealDetailsTable tbody tr {
   background-color: #76b66c;
   color: black;
   border-radius: 5px;
   margin-bottom: 10px;
}


#mealDetailsTable tbody tr:nth-child(odd) {
   background-color: #a0c39b94;
}


#mealDetailsTable tbody tr:last-child {
   font-weight: bold;
   border-bottom: 2px solid #a0c39b94;
}


.header-item {
   text-align: center;
   font-weight: bold;
   color: #333;
}


.button-row {
   gap: 10px;
   display: flex;
}


#hourlyView, #dailyView {
   padding: 12px 24px;
   border: none;
   border-radius: 15px;
   font-size: 16px;
   color: white;
   cursor: pointer;
   text-align: center;
   display: inline-block;
}


#hourlyView {
   background-color: #91c789;
}


#dailyView {
   background-color: #569bd5;
}


.gg-add {
   box-sizing: border-box;
   position: relative;
   display: block;
   width: 22px;
   height: 22px;
   border: 2px solid;
   transform: scale(var(--ggs, 1));
   border-radius: 22px;
}


.dailyNutri-header {
   display: flex;
   width: 100%;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
}
