/* Importing the specified font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

/* Base styles for the entire page */
body{
    font-family: 'Nunito', sans-serif;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hjem {
    display: flex;
    justify-content: center; 
    padding: 20px 2%; 
    background-color: #DEF6D8;
    position: fixed;
    top: 0;
    left: 0;
    right: 0; 
    z-index: 100;
}

.logo {
    position: absolute; 
    left: 40px; 
    color: #91c789;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    order: 1;
}



.navbar a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 700;
    padding: 0 60px; /* Provides space between the links */
    transition: all 0.3s ease;
    
}


nav a:hover {
    color: #76b66c;
    text-shadow: darkgreen   0px 0px 1px;
}

.navbar-h a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 700;
    padding: 24px;
}



#mealCreator {
    width: 60em;
    margin: auto;
    padding: 20px;
    border: 2px solid #99d9de;
    border-radius: 10px;
    position: relative;
    top: 150px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.header-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    padding-left: 5px;
    padding-right: 5

}
/*Style for all button in html*/
button{
    padding: 12px 24px;
    border: none;
    border-radius: 15px;
    transition: box-shadow 0.3s ease, transform 0.2s ease;
    font-size: 16px;
    color: white;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.button-row {
    display: flex;
    gap: 10px;
}

button:hover{
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    transform: translateY(-2px);
    text-decoration: none;
}

#addMealButton {
    background-color: #91c789;
}

#addMealButton:hover {
    background-color: #62885d;
}

#showcaseIngredientsButton {
    background-color: #569bd5;
}

#showcaseIngredientsButton:hover {
    background-color: #0c5692;
}


/* Hiiden form */
#mealName-label{
    font-size: 18px;
    font-weight: bold;
    display: block;
}

/* Styles for the meal name input field */
#mealNameInput {
    padding: 10px;
    border: 2px solid #91c789;
    border-radius: 10px;
    font-size: 16px;
    width: calc(100% - 25px);
    margin-bottom: 25px;
}

#mealNameInput:focus {
    border-color: #569BD5;
    background-color: #F2FFF5;
}

/* Styles for the ingredientInput label */
#ingredientInput-label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}


/* Styles for the ingredient input field */
#ingredientInput {
    padding: 10px;
    border: 2px solid #91c789;
    border-radius: 10px;
    font-size: 16px;
    width: calc(100% - 24px);
    margin-bottom: 10px;
}

#ingredientInput:focus {
    border-color: #569BD5;
    background-color: #F2FFF5;
}
#ingredientDropdown-label {
    font-size: 18px;
    font-weight: bold;
}

/* Styles for the ingredient dropdown */
#ingredientDropdown {
    padding: 10px;
    border: 2px solid #91c789;
    border-radius: 10px;
    font-size: 16px;
    background-color: #F2FFF5;
    width: calc(100% - 24px); /* Adjust width considering padding and border */
    display: none; /* Initially hidden */
}

/* Styles for the add ingredient button */
#addIngredientButton {
    padding: 10px 20px;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    background-color: #599bd5; /* Blue color for the button */
    margin-bottom: 10px;
}

#addIngredientButton:hover {
    background-color: #4178a5;
    text-decoration: underline;
}

/* Styles for the weight label */
#ingredientWeightLabel {
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

/* Styles for the Ingredient Weight input field */
#ingredientWeightInput {
    padding: 10px;
    border: 2px solid #91c789; 
    border-radius: 10px;
    font-size: 16px;
    width: calc(100% - 24px); 
    margin-bottom: 20px; 
}

#ingredientWeightInput:focus {
    border-color: #569BD5; 
    background-color: #F2FFF5; 
}

/* Styles for the selected ingredients list */
#selectedIngredients {
    padding: 10px;
    border: 2px solid #91c789;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 20px;
    width: 700px;
}

#selectedIngredients-p {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

/* Style for individual selected ingredient items */
#selectedIngredients div {
    padding: 5px;
    border-bottom: 1px solid #91c789;
}

#selectedIngredients li {
    display: flex;
    justify-content: start;
    padding: 8px 12px;
    list-style-type: none; 
    margin-bottom: 3px; 
    margin-top: 3px;
    background-color: #F2FFF5; 
    border: 1px solid #569bd5; 
    border-radius: 17px; 
    font-size: 16px; 
    color: #333; 
    cursor: pointer;
}

/* Styles for the submit meal button */
#subBtn {
    padding: 10px 20px;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    background-color: #f29c8c; 
    margin: 10px;
}

#subBtn:hover {
    background-color: #f29c8cbf;
}


/* Styling for the meal table header */
#totalNutri {
    padding: 10px;
    border: 2px solid #91c789;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 20px;
    width: 700px;
}

#totalNutriLabel {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

#totalNutri-p {
    display: flex;
    justify-content: space-evenly;
    padding: 8px 12px;
    margin-bottom: 3px; 
    margin-top: 3px;
    font-size: 16px; 
    color: #333; 
    cursor: pointer;
}
.div-meal {
    margin: 20px;
}

.meal-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.meal-header {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    width: 50em;
}

.meal-header span {
    flex: 1;
    text-align: center;
}

.meal-table {
    overflow-x: auto;
}


.meal-entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #ccc;
    width: 50em;
}

.meal-entry span {
    flex: 1;
    text-align: center;
}

.meal-entry:last-child {
    border-bottom: none;
}
.meal-grid {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    flex-direction: column; /* Change flex-direction to column */
}

.meal-table {
    margin-bottom: 20px; /* Add margin to create space between the header and entries */
}

.meal-entry {
    padding: 8px;
    background-color: #def6d8;
    border-radius: 10px;
    font-size: 18px;
    color: #333;
    margin-bottom: 10px; 
    display: flex;
    justify-content: space-around;
    align-items: center;   
}


/* Styles for the detials boks and button */
.show-details-btn {
    padding: 12px 24px;
    border: none;
    border-radius: 15px;
    transition: box-shadow 0.3s ease, transform 0.2s ease;
    font-size: 16px;
    color: white;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: #ffab40; 
}

.show-details-btn:hover {
    background-color: #ffab40bf;
}



#details {
    background-color: whitesmoke; 
    border: 5px outset #000000; 
    border-radius: 10px; 
    padding: 20px; 
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);    
    display: none; 
    position: fixed; 
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
    width: auto; 
    max-width: 90%; 
    z-index: 1000;     
}

#details h3 {
    margin: 0; 
    padding-bottom: 10px; 
    border-bottom: 1px solid #ccc; 
    font-size: 20px; 
    font-weight: bold; 
    color: #000;
    
}
h4{
    font-size: 16px;
    font-weight: bold;
    margin: 0; 
    
}

#closeDetailsBtn {
    float: right; 
    margin-top: 18px;
    color: whitesmoke;
    background-color: #DC3545; 
    border: none; 
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 20px; 
    cursor: pointer;
}
#closeDetailsBtn:hover{
    background-color: darkred;
    cursor: pointer;
}

#nutriDetails {
    border-top: 1px solid #ccc; 
    font-weight: bold; 
    color: #000;
}

#totalNutritionSentence {
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    padding-top: 0;
}


/* Styles for the showcase all ingredients button */
/* Overlay container */
#ingredientsInfo { 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55%;
    max-height: 80%;
    overflow-y: auto;
    background-color: #e6f2ff; 
    border: 2px solid #99d9de; 
    border-radius: 10px; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
    padding: 20px;
    z-index: 1000;
    display: none;
    }

/* List container */
#foodItemsContainer {
    list-style-type: none; 
    margin: 0;
    padding: 0;
}

/* Individual food items */
#foodItemsContainer li {
    cursor: pointer;
    padding: 12px 20px;
    border-bottom: 1px solid #DDD; 
    transition: background-color 0.3s ease; 
    /* tilføjer en smooth overgnag */
}

#foodItemsContainer li:hover {
    background-color: #dde9f6; 
    border-radius: 5px;
}

/* Close button for the overlay */
#close-foodItemsContainer {
    float: right; 
    margin-top: 18px;
    color: whitesmoke;
    background-color: #DC3545; 
    border: none; 
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 20px; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
}
#close-foodItemsContainer:hover {
    background-color: #C82333;
}


