        /* Importing the specified font from Google Fonts */
        @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

        /* Base styles for the entire page */
        body {
            font-family: 'Nunito', sans-serif;
            background-color: whitesmoke;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        #hjem {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 2%;
            background-color: #DEF6D8;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 100;
           }
          
         .navbar {
            display: flex;
            gap: 3em;
         
         }
         
           .logo {
            color: #91c789;
            font-size: 30px;
            font-weight: 700;
            text-decoration: none;
            margin-top: 5px;
            padding-left: 40px;
         }
         
         
         .navbar a {
            text-decoration: none;
            color: #000;
            font-size: 20px;
            font-weight: 700;
            padding: 8px;
         }
         
         nav a:hover {
            color: #76b66c;
            text-shadow: 0px 0px 1px darkgreen;
         }
         
         #logoutButton {
            background-color: #91c789;
            color: white;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            font-weight: 700;
         }
         
         #logoutButton:hover {
            background-color: #76b66c;
         }
         button{
            padding: 12px 24px;
            border: none;
            border-radius: 15px;
            transition: box-shadow 0.3s ease, transform 0.2s ease;
            font-size: 16px;
            color: white;
            cursor: pointer;
            text-align: center;
            display: inline-block;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        }

        #homeButtons {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
        }

        #manageProfileButton,
        #deleteProfileButton {
            height: 45px;
            color: white;
            cursor: pointer;
            background-color: #91c789;
            width: 100%;
            border-radius: 10px;
            margin-top: 15px;
        }
        #mangeProfileButton:hover {
            background-color: #91c789;
        }

        #deleteProfileButton {
            background-color: #f44336;
        }

        #profileForm {
            display: none;
            justify-content: center;
            background-color: #DEF6D8;
            padding: 20px;
            border-radius: 15px;
            max-width: 400px;
            margin: 5px auto;
        }

        #profileForm input[type="text"],
        #profileForm input[type="password"],
        #profileForm input[type="date"],
        #profileForm input[type="number"] {
            width: 100%;
            padding: 15px;
            margin-bottom: 20px;
            border: 2px solid #91c789;
            border-radius: 4px;
            font-size: 16px;
            box-sizing: border-box;
        }

        #profileForm input::placeholder {
            color: #757572;
        }

        #confirmButton {
            width: 100%;
            padding: 15px;
            border: none;
            border-radius: 10px;
            background-color: #91c789;
            color: white;
            font-size: 18px;
            cursor: pointer;
            margin-top: 10px;
        }

        #confrimButton:hover {
            background-color: #80a672;
        }

        #profileForm label {
            display: block;
            margin-bottom: 5px;
            font-size: 18px;
            color: #2b2b2b;
            text-align: left;
        }

        #profileForm select {
            width: 100%;
            padding: 15px;
            margin-bottom: 20px;
            border: 2px solid #91c789;
            border-radius: 4px;
            font-size: 16px;
            box-sizing: border-box;
        }

        #nutriHome {
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 20px;
            margin-top: 60px;
        }

        p {
            font-size: 20px;
            color: #2b2b2b;
        }