@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body{
    font-family: 'Nunito', sans-serif;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hjem {
    display: flex;
    justify-content: right; /* Center the children elements (logo and navbar) */
    padding: 20px 2%; /* Adjusted padding and set 2% to indirectly set width to 96% */
    background-color: #DEF6D8;
    position: fixed;
    top: 0;
    left: 0;
    right: 0; /* Ensures the header extends to the right edge */
    z-index: 100;
}

.logo {
    position: absolute; /* Absolute positioning to place the logo */
    left: 40px; /* Space from the left edge */
    color: #91c789;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    order: 1;
}


.navbar a {
    /* display to the rigth*/

    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 700;
    padding: 0 60px; /* Provides space between the links */
    transition: all 0.3s ease;
    
}


nav a:hover {
    color: #76b66c;
    text-shadow: darkgreen   0px 0px 1px;
}


#nutriHome {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    margin-top: 60px;
}

h2 {
    font-size: 24px;
    color: #000;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    color: #666;
}

.body-a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: blue;
}

.body-a:hover {
    text-decoration: underline;
}

/* Container to hold both buttons */
.button-container {
    display: flex;
    justify-content: center; /* Align buttons horizontally to the center */
    margin-top: 20px; /* Spacing from the text above */
}

/* Styles for both buttons */
.main-button {
    display: inline-block;
    padding: 15px 30px; /* Size of the buttons */
    margin: 0 10px; /* Spacing between the buttons */
    background-color: #91c789; /* Primary green color */
    color: white; /* Text color */
    text-decoration: none; /* Removes underline from links */
    font-size: 18px; /* Size of the text */
    font-weight: bold; /* Makes the text bold */
    border-radius: 4px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth background color transition */
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1); /* Adds shadow for depth */
}

/* Hover effect for buttons */
.main-button:hover {
    background-color: #80a672; /* A darker shade of green for hover effect */
}
