@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body{
    font-family: 'Nunito', sans-serif;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hjem {
    display: flex;
    justify-content: center; 
    padding: 20px 2%;
    background-color: #DEF6D8;
    position: fixed;
    top: 0;
    left: 0;
    right: 0; 
    z-index: 100;
}

.logo {
    position: absolute; 
    left: 40px; 
    color: #91c789;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    order: 1;
}


.navbar a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 700;
    padding: 0 60px; 
    transition: all 0.3s ease;
    
}


nav a:hover {
    color: #76b66c;
    text-decoration: underline;
    text-shadow: darkgreen   0px 0px 1px;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}

