* {
    font-family: 'Nunito', sans-serif;
}

h1 {
    margin: 30px;
}

.top-right, .container {
    width: calc(100% - 40px);
    margin: 10px auto;
    background-color: #DEF6D8;
    border-radius: 15px;
    display: flex;
}

.container {
    padding-top: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 25px;
}

.links {
    margin-left: 20px;
    padding: 20px;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#mealTrackerContainer, #mealCreatorContainer {
    width: calc(100% - 40px);
    margin: 10px auto;
}

#mealTrackerTable, table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#mealTrackerTable th, #mealTrackerTable td, table td {
    padding: 15px;
    text-align: left;
    background-color: #e7ffe7;
}

#mealTrackerTable th, table td {
    background-color: #DEF6D8;
}

#mealTrackerTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#mealTrackerTable tr:hover {
    background-color: #ddd;
}

#mealTrackerTable, table {
    border-collapse: separate;
    border-spacing: 0 10px;
}

.delete-btn {
    background-color: rgba(243, 31, 31, 0.79);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 0px;
    cursor: pointer;
}






