* {
    font-family: 'Nunito', sans-serif;
}

h1 {
    margin: 30px;
}

.top-right, .container {
    width: calc(100% - 40px);
    margin: 10px auto;
    background-color: #DEF6D8;
    border-radius: 15px;
    display: flex;
}

.container {
    padding-top: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 25px;
}

.links {
    margin-left: 20px;
    padding: 20px;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 20px;
}

table td {
    padding: 10px;
}

table td {
    text-align: left;
    background-color: #DEF6D8;
    border-radius: 25px;
}

#mealCreatorContainer {
    width: calc(100% - 40px);
    margin: 10px auto;
}

#mealCreatorContainer h1 {
    color: black;
    margin-bottom: 20px;
}

#foodInput,
#addIngredientBtn,
#createMealBtn {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#foodInput {
    width: 50%;
    margin-left: 40px;
}

button {
    background-color: #DEF6D8;
    color: black;
    cursor: pointer;
    border: none;
}

#mealsList {
    list-style-type: none;
}

#mealsList li {
    background-color: #DEF6D8;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.deleteMealBtn {
    background-color:rgba(243, 31, 31, 0.79);
    color: white;
    border: none;
    padding: 5px 10px;
    margin-left: 1550px;
    border-radius: 5px;
    cursor: pointer;
}

.showIngredientBtn {
    background-color: #91C789;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-left: 20px;
    border-radius: 5px;
    cursor: pointer;
}